@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
:root {
    --font-family: 'Roboto', sans-serif
}

.search {
    margin-top: 30px;
    margin-bottom: 1px;
    /*  &__input {}
    &__check {} */
}

@media screen and (max-width: 600px) {
    .search {
        .input-group {
            display: flex !important;
            flex-direction: column;
        }
        &__input {
            width: 100% !important;
        }
        &__check {
            span {
                width: 100% !important;
            }
        }
    }
}